.mobile-hidden {
  display: none;
}
@media screen and (min-width: 45rem) {
  .mobile-hidden {
    display: initial;
  }
}

.order-first {
  order: 1;
}
.order-last {
  order: -1;
}
.order-mobile-first {
  order: -1;
}
@media (min-width: 60rem) {
  .order-desktop-last {
    order: 1;
  }
}

.decoration-hr {
  display: block;
  border: 0.01rem solid var(--color-accent-muted);
  width: 100%;
  opacity: 0.3;
  margin-block: auto var(--size-small);
}

.nav-selected {
  border-block-end: 3px solid var(--color-primary);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  /* Colors */
  /* Bright colors */
  --color-primary: hsla(0, 0%, 100%, 0.9);
  --color-secondary: hsla(235, 33%, 93%, 0.8);
  /* Contrast colors */
  --color-contrast-primary: hsl(0, 0%, 0%);
  --color-contrast-secondary: hsl(0, 0%, 100%);
  /* Medium neutrals */
  --color-neutral-light: hsl(0, 0%, 96%);
  --color-neutral-mid: hsl(0, 0%, 80%);
  --color-neutral-dark: hsl(0, 0%, 33%);
  /* Muted */
  --color-accent-muted: hsla(0, 0%, 55%, 0.549);
  --color-accent-border: hsl(0, 0%, 87%);
  /* Spacing sizes */
  --size-smaller: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);
  /* Font sizes */
  --size-font-small: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --size-font-medium: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --size-font-large: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  --size-font-larger: clamp(4rem, calc(4rem + 3vw), 10rem);
  /* Font weights */
  --font-weight-white: 100;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  /* Tablet and Desktop */
}
@media screen and (min-width: 40rem) {
  :root {
    /* Font sizes */
    --size-font-small: clamp(1rem, calc(0.8rem + 0.4vw), 1.5rem);
    --size-font-medium: clamp(1.5rem, calc(1.5rem + 0.8vw), 2.5rem);
    --size-font-large: clamp(2.5rem, calc(2rem + 0.9vw), 3.5rem);
    --size-font-larger: clamp(5rem, calc(4.5rem + 5vw), 15rem);
  }
}

.button {
  background: transparent;
  border: none;
  text-decoration: none;
  border: 0.2rem solid transparent;
  cursor: pointer;
  transition: 500ms ease;
}
.button:hover {
  transition: 200ms ease;
}
.button--primary {
  color: var(--color-contrast-secondary);
  background: var(--color-primary);
}
.button--primary:hover:not(.button--no-hover-effect):not(.button--custom) {
  color: var(--color-primary);
  background: var(--color-contrast-secondary);
  border: 0.2rem solid var(--color-primary);
}
.button--secondary {
  color: var(--color-contrast-secondary);
  background: var(--color-secondary);
}
.button--secondary:hover:not(.button--no-hover-effect):not(.button--custom) {
  color: var(--color-secondary);
  background: var(--color-contrast-secondary);
  border: 0.2rem solid var(--color-secondary);
}
.button--contrast {
  color: var(--color-contrast-secondary);
  background: transparent;
  border: 0.2rem solid var(--color-contrast-secondary);
  box-shadow: 0 calc(var(--size-tiny) - 0.1rem) var(--size-tiny) var(--color-accent-border);
}
.button--contrast:hover:not(.button--no-hover-effect):not(.button--custom) {
  color: var(--color-contrast-primary);
  background: var(--color-contrast-secondary);
}
.button--contrast-reverse {
  color: var(--color-contrast-primary);
  background: var(--color-contrast-secondary);
  box-shadow: 0 calc(var(--size-tiny) - 0.1rem) var(--size-tiny) var(--color-accent-border);
}
.button--contrast-reverse:hover:not(.button--no-hover-effect):not(.button--custom) {
  color: var(--color-contrast-secondary);
  background: transparent;
  border: 0.2rem solid var(--color-contrast-secondary);
}
.button--rectangle {
  padding: calc(var(--size-smaller) + 0.3rem) calc(var(--size-small) - 0.3rem);
  border-radius: var(--size-tiny);
}
@media screen and (min-width: 65rem) {
  .button--rectangle {
    padding: var(--size-smaller) calc(var(--size-small) - 0.5rem);
  }
}
.button--selected.button--rectangle {
  position: relative;
}
.button--selected.button--rectangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 0.2rem;
  background: var(--color-secondary);
}
.button--selected.button--contrast {
  color: var(--color-contrast-primary);
  background: var(--color-contrast-secondary);
}
.button--circle {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.button--small {
  width: 4rem;
}
.button--medium {
  padding: var(--size-medium);
}
.button--navigation {
  color: var(--color-contrast-secondary);
}
@media screen and (min-width: 80rem) {
  .button--navigation {
    opacity: 0;
    padding-block: 20%;
    padding-inline: 5rem;
  }
  .button--navigation:hover {
    opacity: 1;
  }
}
.button--custom {
  position: relative;
}
.button--custom:before {
  position: absolute;
  content: "";
  width: 20rem;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
  opacity: 0.2;
  background: var(--color-contrast-secondary);
  width: 100%;
  transition: 1000ms ease;
  will-change: width;
}
.button--custom:hover:not(.button--no-hover-effect):before {
  width: 150%;
  transition: 600ms ease;
}

.picture--large {
  width: 100%;
}
@media screen and (min-width: 60rem) {
  .picture--large {
    height: 100%;
    width: auto;
  }
}
.picture--medium {
  width: 80%;
}
@media screen and (min-width: 60rem) {
  .picture--medium {
    height: 80%;
    width: auto;
  }
}
.picture--small {
  width: 50%;
}
@media screen and (min-width: 60rem) {
  .picture--small {
    height: 50%;
    width: auto;
  }
}
.picture__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 60rem) {
  .picture__img {
    height: 100%;
    width: auto;
    max-height: 35rem;
  }
}
.picture__source {
  display: block;
}

.text {
  color: var(--color-primary);
  text-align: center;
}
.text__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: var(--font-weight-regular);
}
.text__description {
  max-width: 40ch;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 45rem) {
  .text__description {
    max-width: 45ch;
  }
}
.text--serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text--primary {
  color: var(--color-secondary);
}
.text--secondary {
  color: var(--color-secondary);
  opacity: 0.7;
}
.text--tertiary {
  opacity: 0.3;
}
.text--small {
  font-size: var(--size-font-small);
  font-weight: var(--font-weight-thin);
}
.text--medium {
  font-size: var(--size-font-medium);
  font-weight: var(--font-weight-regular);
}
.text--large {
  font-size: var(--size-font-large);
  font-weight: var(--font-weight-bold);
}
.text--larger {
  font-size: var(--size-font-larger);
  font-weight: var(--font-weight-bolder);
}
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
@media screen and (min-width: 40rem) {
  .text--wide-screen-align-left {
    text-align: left;
  }
}

@media screen and (min-width: 65rem) {
  .text {
    text-align: left;
  }
}
.attribution {
  width: 100%;
  text-align: center;
  padding-block-end: var(--size-smaller);
}
.attribution__text {
  color: var(--color-contrast-secondary);
}
.attribution__link {
  color: var(--color-primary);
}
.attribution__link:hover {
  color: var(--color-secondary);
}

.indicator {
  width: 1rem;
  background: var(--color-primary);
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0.2;
}
.indicator--selected {
  opacity: 1;
}

.icon {
  color: var(--color-contrast-secondary);
  opacity: 0.9;
}
.icon:hover {
  opacity: 1;
}
.icon:active {
  opacity: 0.8;
}
.icon__path {
  stroke-width: 3;
}
.icon--small {
  width: 1rem;
  height: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.fast-slow-hover {
  transition: 500ms ease;
  cursor: pointer;
}
.fast-slow-hover:hover {
  color: var(--color-secondary);
  transition: 200ms ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: fade-in 0.4s ease forwards;
  animation-fill-mode: forwards;
  will-change: opacity;
}

.fade-out {
  animation: fade-out 0.4s ease forwards;
  animation-fill-mode: forwards;
  will-change: opacity;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(350deg);
  }
}
.rotate {
  animation: rotate 60s linear infinite;
  will-change: transform;
}

.underline-hover {
  position: relative;
}
.underline-hover:hover {
  opacity: 1;
  cursor: pointer;
}
.underline-hover:not(.nav-selected)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 0%;
  height: 3px;
  background-color: var(--color-primary);
  transition: 500ms ease;
}
.underline-hover:not(.nav-selected):hover::before {
  width: 100%;
  transition: 300ms ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-large);
  padding-block: var(--size-medium);
  width: 100%;
}
.container__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.container__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__text-content--primary {
  gap: var(--size-small);
}
.container__text-content--secondary {
  gap: 1rem;
}
.container__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-medium);
}
.container__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-small);
}
.container__indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-smaller);
}
.container__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__sub-container {
  opacity: 1;
  position: relative;
  transition: opacity 0.6s ease;
}

@media screen and (min-width: 45rem) {
  .container {
    padding: var(--size-small) var(--size-large) var(--size-smaller);
  }
  .container__cards {
    flex-direction: row;
  }
  .container__text-content--secondary {
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--size-large);
  }
  .container__buttons {
    flex-direction: row;
  }
}
@media screen and (min-width: 61rem) {
  .container {
    padding: 0;
    opacity: 1;
  }
  .container--primary {
    flex-direction: row;
    min-height: 25rem;
    justify-content: space-between;
    gap: var(--size-medium);
  }
  .container__sub-container {
    width: 100%;
    opacity: 1;
    min-width: 55rem;
  }
}
@media screen and (min-width: 61rem) and (min-width: 65rem) {
  .container__sub-container {
    min-width: 60rem;
  }
}
@media screen and (min-width: 61rem) and (min-width: 70rem) {
  .container__sub-container {
    min-width: 65rem;
  }
}
@media screen and (min-width: 61rem) {
  .container__text-content {
    align-items: flex-start;
  }
  .container__text-content--primary {
    align-self: stretch;
    width: 100%;
  }
  .container__buttons--secondary {
    flex-direction: column;
  }
  .container__image {
    height: 100%;
    width: auto;
    align-self: flex-end;
    justify-self: flex-end;
    margin-inline-start: auto;
  }
  .container__indicators {
    margin-block-start: 2rem;
  }
  .container__navigation {
    width: 110%;
  }
}
@media screen and (min-width: 80rem) {
  .container__navigation {
    width: 150%;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--size-medium);
  width: 100%;
}

.nav {
  width: 100%;
  position: relative;
}
.nav--desktop {
  display: none;
}
.nav--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: var(--size-medium);
  gap: var(--size-medium);
  min-height: 25rem;
}
.nav--mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-contrast-primary);
  opacity: 0.3;
  z-index: -1;
}
.nav--dialog {
  width: 100vw;
  border: none;
  max-width: none;
  margin: 0;
  background: none;
}
.nav--dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.nav__hamburger {
  order: -1;
  position: absolute;
  right: var(--size-small);
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--color-contrast-secondary);
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 15rem);
}
.nav__link {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding-block: calc(var(--size-smaller) + 0.5rem);
}
.nav__index {
  display: none;
}
.nav__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav__logo {
  width: 2rem;
  height: auto;
  color: var(--color-contrast-secondary);
}
.nav__item {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  border-block-end: 0.05rem solid var(--color-accent-muted);
}
.nav__item:first-of-type {
  border-block: 0.05rem solid var(--color-accent-muted);
}
.nav__close-button {
  background: none;
  border: none;
  width: var(--size-smaller);
  font-size: var(--size-font-medium);
  color: var(--color-contrast-secondary);
  cursor: pointer;
}
.nav__decoration {
  display: none;
}

@media screen and (min-width: 40rem) {
  header {
    padding: 0;
    justify-content: space-between;
  }
  .nav--mobile {
    display: none;
  }
  .nav--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-small);
    width: auto;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__logo {
    margin-inline: var(--size-medium);
    width: 10rem;
  }
  .nav__links {
    flex-direction: row;
    gap: var(--size-small);
    position: relative;
    width: auto;
    padding-inline: var(--size-medium);
  }
  .nav__links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-contrast-secondary);
    opacity: 0.2;
    z-index: -1;
  }
  .nav__item {
    border-block-end: none;
  }
  .nav__item:first-of-type {
    border-block: none;
  }
  .nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding-block: var(--size-smaller);
  }
  .nav__decoration {
    display: block;
    border: 0.01rem solid var(--color-accent-muted);
    width: 100%;
    opacity: 0.3;
  }
}
@media screen and (min-width: 60rem) {
  .nav__index {
    display: block;
    opacity: 0.7;
  }
  .nav__logo {
    margin-block: 0;
  }
  .nav__links {
    margin: var(--size-small) 0;
    padding-inline: calc(var(--size-large) + 1rem);
    gap: var(--size-medium);
  }
  .nav__link {
    padding-block: var(--size-small);
  }
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body[data-page=crew] {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
}
body[data-page=home] {
  background-image: url("../../assets/home/background-home-mobile.jpg");
}
body[data-page=destination] {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
}
body[data-page=technology] {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
}
@media screen and (min-width: 45rem) {
  body[data-page=crew] {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
  body[data-page=home] {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  body[data-page=destination] {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
  body[data-page=technology] {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
}
@media screen and (min-width: 60rem) {
  body[data-page=crew] {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
  body[data-page=home] {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
  body[data-page=destination] {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
  body[data-page=technology] {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

main {
  align-self: center;
  margin-block: auto;
  margin-block-end: var(--size-large);
}

footer {
  position: absolute;
  bottom: 0;
}

div[data-page=destination] {
  gap: calc(var(--size-medium) + 5vw);
}

@media screen and (min-width: 60rem) {
  section[data-page=home] {
    min-width: 50rem;
  }
}
@media screen and (min-width: 70rem) {
  section[data-page=home] {
    gap: calc(15rem + 10vw);
  }
}