@mixin flex($direction: column, $alignmentX: center, $alignmentY: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignmentX;
  justify-content: $alignmentY;
}

@mixin font($family, $weight: 500, $size: (--size-font-medium), $style: normal) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;

}
