@use "../abstracts/mixins" as m;

.mobile-hidden {
  display: none;

  @media screen and (min-width: 45rem) {
    display: initial;
  }
}

.order {
  &-first {
    order: 1;
  }
  &-last {
    order: -1;
  }
  &-mobile-first {
    order: -1;
  }

  &-desktop-last {
    @media (min-width: 60rem) {
      order: 1;
    }
  }
}

.decoration-hr {
  display: block;
  border: 0.01rem solid var(--color-accent-muted);
  width: 100%;
  opacity: 0.3;
  margin-block: auto var(--size-small);
}

.nav-selected {
  border-block-end: 3px solid var(--color-primary);
}
