.fast-slow-hover {
  transition: 500ms ease;
  cursor: pointer;

  &:hover {
    color: var(--color-secondary);
    transition: 200ms ease;
  }
}

.rotate-forward {
  animation: rotateForward 400ms ease forwards;
  will-change: transform;
}
.rotate-backward {
  animation: rotateBackward 200ms ease forwards;
  will-change: transform;
}

@keyframes rotateForward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateBackward {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.open-div {
  animation: open-up 400ms ease forwards;
  will-change: max-height;
}

.close-div {
  animation: close-down 200ms ease forwards;
  will-change: max-height;
}

@keyframes open-up {
  from {
    max-height: 0;
  }
  to {
    max-height: 20rem;
  }
}

@keyframes close-down {
  from {
    max-height: 20rem;
  }
  to {
    max-height: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

