.attribution {
  width: 100%;
  text-align: center;
  padding-block-end: var(--size-smaller);

  &__text {
    color: var(--color-contrast-secondary);
  }
  &__link {
    color: var(--color-primary);

    &:hover {
      color: var(--color-secondary);
    }
  }
}
