@use "../abstracts/mixins" as m;

.button {
  background: transparent;
  border: none;
  text-decoration: none;
  border: 0.2rem solid transparent;
  cursor: pointer;
  transition: 500ms ease;

  &:hover {
    transition: 200ms ease;
  }

  &--primary {
    color: var(--color-contrast-secondary);
    background: var(--color-primary);

    &:hover:not(.button--no-hover-effect):not(.button--custom) {
      color: var(--color-primary);
      background: var(--color-contrast-secondary);
      border: 0.2rem solid var(--color-primary);
    }
  }

  &--secondary {
    color: var(--color-contrast-secondary);
    background: var(--color-secondary);

    &:hover:not(.button--no-hover-effect):not(.button--custom) {
      color: var(--color-secondary);
      background: var(--color-contrast-secondary);
      border: 0.2rem solid var(--color-secondary);
    }
  }

  &--contrast {
    color: var(--color-contrast-secondary);
    background: transparent;
    border: 0.2rem solid var(--color-contrast-secondary);
    box-shadow: 0 calc(var(--size-tiny) - 0.1rem) var(--size-tiny)
      var(--color-accent-border);

    &:hover:not(.button--no-hover-effect):not(.button--custom) {
      color: var(--color-contrast-primary);
      background: var(--color-contrast-secondary);
    }
  }

  &--contrast-reverse {
    color: var(--color-contrast-primary);
    background: var(--color-contrast-secondary);
    box-shadow: 0 calc(var(--size-tiny) - 0.1rem) var(--size-tiny)
      var(--color-accent-border);

    &:hover:not(.button--no-hover-effect):not(.button--custom) {
      color: var(--color-contrast-secondary);
      background: transparent;
      border: 0.2rem solid var(--color-contrast-secondary);
    }
  }

  &--rectangle {
    padding: calc(var(--size-smaller) + 0.3rem) calc(var(--size-small) - 0.3rem);
    border-radius: var(--size-tiny);

    @media screen and (min-width: 65rem) {
      padding: var(--size-smaller) calc(var(--size-small) - 0.5rem);
    }
  }

  &--selected {
    &.button--rectangle {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -10%;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background: var(--color-secondary);
      }
    }

    &.button--contrast {
      color: var(--color-contrast-primary);
      background: var(--color-contrast-secondary);
    }
  }

  &--circle {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }

  &--small {
    width: 4rem;
  }

  &--medium {
    padding: var(--size-medium);
  }

  &--navigation {
    color: var(--color-contrast-secondary);
  }

  &--custom {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 20rem;
      aspect-ratio: 1 / 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 50%;
      opacity: 0.5;
      background: var(--color-contrast-secondary);
      width: 10rem;
      transition: 500ms ease;
      will-change: width;
    }

    &:hover:not(.button--no-hover-effect) {
      &:before {
        width: 20rem;
        transition: 300ms ease;
      }
    }
  }
}
