@use "../abstracts/mixins" as m;

.card {
  @include m.flex(column);
  gap: var(--size-small);
  padding-block: var(--size-medium) var(--size-small);
  border-radius: var(--size-smaller);

  /* Fall back */
  box-shadow: 0 var(--size-tiny) var(--size-smaller) var(--color-accent-muted);
  box-shadow: 0 var(--size-tiny) var(--size-tiny)
    rgb(from var(--color-primary) r g b / 0.2);

  &__image {
    @include m.flex(column);

    & svg {
      width: 35%;
      height: auto;
    }
  }

  &__text-content {
    @include m.flex(column);
    gap: var(--size-smaller);
    text-align: center;
  }

  &__title {
    @include m.font("Rubik", var(--font-weight-regular));
    color: var(--color-contrast-primary);

    &--small {
      font-size: calc(var(--size-font-medium) - 0.5vw);
    }
    &--medium {
      font-size: calc(var(--size-font-large) - 0.5vw);
    }
    &--large {
      font-size: calc(var(--size-font-larger) - 0.5vw);
    }
  }

  &__description {
    @include m.font("Rubik", var(--font-weight-light), var(--size-font-small));
    color: var(--color-contrast-primary);
    opacity: 0.5;
  }

  & button {
    width: 85%;
  }
}
