:root {
  /* Colors */
  /* Bright colors */
  --color-primary: hsla(0, 0%, 100%, 0.9);
  --color-secondary: hsla(235, 33%, 93%, 0.8);

  /* Contrast colors */
  --color-contrast-primary: hsl(0, 0%, 0%);
  --color-contrast-secondary: hsl(0, 0%, 100%);

  /* Medium neutrals */
  --color-neutral-light: hsl(0, 0%, 96%);
  --color-neutral-mid: hsl(0, 0%, 80%);
  --color-neutral-dark: hsl(0, 0%, 33%);

  /* Muted */
  --color-accent-muted: hsla(0, 0%, 55%, 0.549);
  --color-accent-border: hsl(0, 0%, 87%);

  /* Spacing sizes */
  --size-smaller: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);

  /* Font sizes */
  --size-font-small: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --size-font-medium: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --size-font-large: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  --size-font-larger: clamp(4rem, calc(4rem + 3vw), 10rem);

  /* Font weights */
  --font-weight-white: 100;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Tablet and Desktop */
  @media screen and (min-width: 40rem) {
    /* Font sizes */
    --size-font-small: clamp(1rem, calc(0.8rem + 0.4vw), 1.5rem);
    --size-font-medium: clamp(1.5rem, calc(1.5rem + 0.8vw), 2.5rem);
    --size-font-large: clamp(2.5rem, calc(2rem + 0.9vw), 3.5rem);
    --size-font-larger: clamp(5rem, calc(4.5rem + 5vw), 15rem);
  }
}
