body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &[data-page="crew"] {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }
  &[data-page="home"] {
    background-image: url("../assets/home/background-home-mobile.jpg");
  }
  &[data-page="destination"] {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }
  &[data-page="technology"] {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }

  // Tablet
  @media screen and (min-width: 45rem) {
    &[data-page="crew"] {
      background-image: url("../assets/crew/background-crew-tablet.jpg");
    }
    &[data-page="home"] {
      background-image: url("../assets/home/background-home-tablet.jpg");
    }
    &[data-page="destination"] {
      background-image: url("../assets/destination/background-destination-tablet.jpg");
    }
    &[data-page="technology"] {
      background-image: url("../assets/technology/background-technology-tablet.jpg");
    }
  }

  // Desktop
  @media screen and (min-width: 60rem) {
    &[data-page="crew"] {
      background-image: url("../assets/crew/background-crew-desktop.jpg");
    }
    &[data-page="home"] {
      background-image: url("../assets/home/background-home-desktop.jpg");
    }
    &[data-page="destination"] {
      background-image: url("../assets/destination/background-destination-desktop.jpg");
    }
    &[data-page="technology"] {
      background-image: url("../assets/technology/background-technology-desktop.jpg");
    }
  }
}
