@use "../abstracts/mixins" as m;

.container {
  @include m.flex(column);
  gap: var(--size-large);
  padding-block: var(--size-medium);
  width: 100%;
  position: relative;

  &__image {
    @include m.flex(column);
    height: auto;
    width: 100%;
  }

  &__text-content {
    @include m.flex(column);
    gap: var(--size-small);
    text-align: center;
  }

  &__cards {
    @include m.flex(column);
    gap: var(--size-medium);
  }

  &__buttons {
    @include m.flex(row);
    gap: var(--size-small);
  }

  &__indicators {
    @include m.flex(row);
    gap: var(--size-small);
  }

  &__navigation {
    @include m.flex(row, center, space-between);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 45rem) {
  .container {
    padding: var(--size-small) var(--size-large) var(--size-smaller);

    &__cards {
      flex-direction: row;
    }

    &__buttons {
      flex-direction: row;
    }
  }
}
