@use "../abstracts/mixins" as m;

.container {
  @include m.flex(column);
  gap: var(--size-large);
  padding: var(--size-medium);
  width: 100%;

  &__image {
    @include m.flex(column);
    height: auto;

    &--small {
      max-width: 20rem;
    }
    &--medium {
      max-width: 35rem;
    }

    &--large {
      max-width: 50rem;
      order: -1;
    }
  }

  &__text-content {
    @include m.flex(column);
    gap: var(--size-small);
    text-align: center;
  }

  &__cards {
    @include m.flex(column);
    gap: var(--size-medium);
  }

  &__title {
    @include m.font("Rubik", var(--font-weight-regular));
    color: var(--color-contrast-primary);

    &--small {
      font-size: var(--size-font-medium);
    }
    &--medium {
      font-size: var(--size-font-large);
    }
    &--large {
      font-size: var(--size-font-larger);
    }
  }

  &__description {
    @include m.font("Rubik", var(--font-weight-light), var(--size-font-small));
    color: var(--color-contrast-primary);
    opacity: 0.5;
    width: 40ch;
    line-height: 1.5;
  }

  &__buttons {
    @include m.flex(row);
    gap: var(--size-small);
  }
}

@media screen and (min-width: 45rem) {
  .container {
    padding: var(--size-small) var(--size-large) var(--size-smaller);

    &__cards {
      flex-direction: row;
    }

    &__buttons {
      flex-direction: row;
    }

    &__descriptions {
      width: 47ch;
    }
  }
}

@media screen and (min-width: 60rem) {
  .container {
    &--primary {
      flex-direction: row;
      min-height: 20rem;

      & .container__text-content {
        text-align: left;
        align-items: flex-start;
      }
    }

    &__image {
      &--large {
        order: 0;
      }
    }

    &__title {
      &--medium {
        width: 15ch;
      }
    }
  }
}
