// Abstracts (variables, mixins, functions)
@use "./abstracts/mixins" as m;
@use "./abstracts/utilities";

// Base / Reset
@use "./base/reset";
@use "./base/base";

// Components
@use "./components/button";
@use "./components/picture";
@use "./components/text";
@use "./components/attribution";
@use "./components/indicators";
@use "./components/icon";
@use "./components/animations";

// Layout
@use "./layouts/container";
@use "./layouts/navigation-bar";
@use "./layouts/backgrounds";

body {
  @include m.flex(column);
  position: relative;
}

main {
  align-self: center;
  margin-block: auto;
  margin-block-end: var(--size-large);
}

footer {
  position: absolute;
  bottom: 0;
}

div[data-page="destination"] {
  gap: calc(var(--size-medium) + 5vw);
}

section[data-page="home"] {
  @media screen and (min-width: 60rem) {
    min-width: 50rem;
  }
  @media screen and (min-width: 70rem) {
    gap: calc(15rem + 10vw);
  }
}
